Code/.vs/
Code/BottomNavigationBar/BottomNavigationBar.Android/bin/
Code/BottomNavigationBar/BottomNavigationBar.Android/obj/
Code/BottomNavigationBar/BottomNavigationBar.iOS/bin/
Code/BottomNavigationBar/BottomNavigationBar.iOS/obj/
Code/BottomNavigationBar/BottomNavigationBar/bin/
Code/BottomNavigationBar/BottomNavigationBar/obj/
